<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <title>Michael L. Castilla 路 Product Engineer 路 Remote</title>
    <link rel="canonical" href="https://michaelcastilla.com" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Michael L. Castilla is a product engineer based in Miami, FL. Michael is an award-winning product management and software engineering professional with over 15 years of experience leading product teams and building and designing internal business tools and consumer applications." />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Michael L. Castilla 路 Product Engineer 路 Remote" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://michaelcastilla.com" />
    <meta property="og:image" content="https://michaelcastilla.com/img/social-share.png" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
