<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Michael L. Castilla · Product Designer</title>
    <link rel="canonical" href="https://machito.co" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
