<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <title>Michael L. Castilla · Product Designer</title>
    <link rel="canonical" href="https://michaelcastilla.com" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Michael L. Castilla · Product Designer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://michaelcastilla.com" />
    <meta property="og:image" content="https://michaelcastilla.com/img/social-share.png" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
